.hero-section {
  display: flex;
  height: 600px;
  background-color: #e6e8e7;
  align-items: center;
  width: 100%;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}
.heading {
  font-size: 5vw;
  margin-bottom: 0;
  line-height: 20px;
  align-self: flex-start;
}
.right-section {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  justify-content: center;
  align-items: center;
}
.descrip {
  width: 80%;
  align-self: flex-start;

  font-weight: 500;
  font-size: 18px;
}
.font {
  font-family: "Borel", cursive;
}
